.loginContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/Image placeholdert.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginCard {
  background: white;
  padding: 48px 20px 30px;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  height: 543px;
  text-align: center;
  position: absolute;
  top: 30%;
}

.loginCard h2 {
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

form button {
  background-color: #6b3dfd;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
