.signupContainer {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("/public/images/Image\ placeholder.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.signupCard {
  background: white;
  padding: 48px 20px 30px;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  height: 75%;
  max-width: 480px;
  text-align: center;
}

@media (min-width: 480px) {
  .signupContainer {
    align-items: center;
  }

  .signupCard {
    background: white;
    padding: 48px;
    border-radius: 12px;
    width: 100%;
    max-width: 480px;
    height: auto;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.signupCard h2 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 36px;
}

.subtitle {
  color: #000;
  font-size: 16px;
  margin-bottom: 25px;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 1rem;
}

form button {
  background-color: #602ee1;
  color: white;
  padding: 10px;
  border: 1px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
  height: 48px;
  font-size: 16px;
  font-weight: 1px;
}

.linksSignUp {
  margin-top: 20px;
  margin-left: 42.5px;
  margin-right: 42.5px;
}

.linksSignUp link {
  color: #000;
}

.linksSignUp link:hover {
  text-decoration: underline;
}
