h1 {
  font-weight: 700;
  font-style: Bold;
  line-height: 140%;
  letter-spacing: 0%;
}
h2 {
  font-weight: normal;
  font-size: 150%;
  line-height: 150%;
  letter-spacing: 0%;
}

.home-page {
  background-color: #ffffff;
  padding: 24px;
  width: fit-content;
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.action-buttons {
  display: flex;
  gap: 1rem;
}
#new-match-button {
  height: 40px;
  gap: 12px;
  opacity: 1;
  padding: 8px 20px;
  border-radius: 12px;
  border-width: 1px;
  background-color: #602ee1;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-player-button {
  height: 40px;
  gap: 12px;
  opacity: 1;
  padding: 8px 20px;
  border-radius: 12px;
  border-width: 1px;
  border-color: #602ee1;
  background-color: #ffffff;
  color: #602ee1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-section {
  margin-top: 24px;
  padding: 16px;
  border-radius: 12px;
  border: #eeeeee 1px solid;
}
.cards-overview {
  display: flex;
  gap: 24px;
}

.cards-upcoming-matches {
  height: -webkit-fill-available;
  box-sizing: content-box;
  width: -webkit-fill-available;
}

.cards-top-players {
  width: 50%;
  box-sizing: content-box;
}

@media (max-width: 769px) {
  .home-page {
    padding: 16px;
    width: 100%;
  }
  .welcome-section {
    margin: 1rem;
    flex-direction: column;
    display: flex;
    gap: 1rem;
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
  }

  #new-match-button,
  #add-player-button {
    width: 100%;
    height: 48px;
    gap: 12px;
    opacity: 1;
    border-radius: 12px;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cards-overview {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card-top-players {
    display: flex;
    flex: 1;
    width: 100%;
  }
  .card-upcoming-matches {
    display: flex;
    flex: 2;
    width: 100%;
  }
}
