h1 {
  font-weight: 700;
  font-style: Bold;
  line-height: 140%;
  letter-spacing: 0%;
}
h2 {
  font-weight: normal;
  font-size: 150%;
  line-height: 150%;
  letter-spacing: 0%;
}
.stat-value {
  font-size: 24px;
  font-weight: 700;
  font-style: Bold;
  line-height: 140%;
  letter-spacing: 0%;
}

.home-page {
  background-color: #ffffff;
  padding: 24px;
  width: fit-content;
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.action-buttons {
  display: flex;
  gap: 1rem;
}
.stats-overview {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 24px;
  width: auto;
}

.stats-card {
  display: flex;
  padding: 24px;
  gap: 4px;
  flex: 1;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  border-width: 1px;
  border: 1px solid #eeeeee;
}

.stats-card img {
  height: 32px;
  width: 32px;
  margin-right: 16px;
}

.cards-section {
  margin-top: 24px;
  padding: 16px;
  border-radius: 12px;
  border: #eeeeee 1px solid;
}
.cards-overview {
  display: flex;
  gap: 24px;
}

.cards-upcoming-matches {
  height: -webkit-fill-available;
  box-sizing: content-box;
  width: -webkit-fill-available;
}

.cards-top-players {
  width: 50%;
  box-sizing: content-box;
}

@media (max-width: 769px) {
  .stats-overview {
    flex-direction: column;
  }
  .home-page {
    padding: 16px;
    width: 100%;
  }
  .welcome-section {
    margin: 1rem;
    flex-direction: column;
    display: flex;
    gap: 1rem;
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
  }

  .cards-overview {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card-top-players {
    display: flex;
    flex: 1;
    width: 100%;
  }
  .card-upcoming-matches {
    display: flex;
    flex: 2;
    width: 100%;
  }
}
