.home-page {
  background-color: #ffffff;
  padding: 0 24px;
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.action-buttons {
  display: flex;
  gap: 1rem;
}

.cards-section {
  margin-top: 24px;
}
.flat-feed {
  width: 100%;
}
.cards-overview {
  display: flex;
  gap: 24px;
}

.cards-upcoming-matches {
  height: -webkit-fill-available;
  box-sizing: content-box;
  width: -webkit-fill-available;
}

.cards-top-players {
  width: 50%;
  box-sizing: content-box;
}

@media (max-width: 769px) {
  .home-page {
    padding: 16px;
    width: 100%;
  }
  .welcome-section {
    margin: 1rem;
    flex-direction: column;
    display: flex;
    gap: 1rem;
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
  }

  .cards-overview {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card-top-players {
    display: flex;
    flex: 1;
    width: 100%;
  }
  .card-upcoming-matches {
    display: flex;
    flex: 2;
    width: 100%;
  }
}
