.player-filter {
  padding: 16px;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-player-box {
  display: flex;
  align-items: center;
  height: 48px;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  color: #aaaaaa;
}

.search-player-box label {
  display: flex;
  align-items: center;
}

.search-player-box input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.filtrering {
  display: flex;
  gap: 16px;
  overflow-y: auto;
  scrollbar-width: none;
}

.filtrering::-webkit-scrollbar {
  width: 20px;
}

.filter-item {
  position: relative;
  padding: 8px 16px;
  border-radius: 8px;
  color: #666666;
  border: 1px solid #eeeeee;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  height: 40px;
}

.filter-item p {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: max-content;
}

.filter-item.active {
  border: 1px solid transparent;
  padding: 8px 16px;
  border-radius: 8px;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(270deg, #e968fe, #602ee1) border-box;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  height: 40px;
}

.filter-item.active p {
  display: flex;
  align-items: center;
  background: linear-gradient(270deg, #e968fe, #602ee1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  flex-wrap: wrap;
  width: max-content;
  padding-right: 16px;
}

.filter-item.active::after {
  content: "\2713";
  position: absolute;
  top: 8px;
  right: 8px;
  font-weight: bold;
  background: linear-gradient(270deg, #e968fe, #602ee1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 769px) {
  .player-filter {
    gap: 24px;
  }
}
