.player-filter {
  padding: 16px;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-player-box {
  display: flex;
  align-items: center;
  height: 48px;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  color: #aaaaaa;
}

.search-player-box label {
  display: flex;
  align-items: center;
}

.search-player-box input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

@media (max-width: 769px) {
  .player-filter {
    gap: 24px;
  }
}
