.stats-page {
  display: block;
  padding: 1rem;
  flex-direction: column;
  overflow: hidden;
}
@media (min-width: 770px) {
  .stats-page {
    display: flex;
    margin-left: 300px;
    margin-right: 24px;
  }
}
