.stats-overview {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  overflow: auto;
}

.stats-card {
  display: flex;
  padding: 24px;
  gap: 4px;
  flex: 1;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
  background-color: #fff;
  border: 1px solid #eeeeee;
}

.stats-card h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

.stats-card-text {
  width: 160px;
}

.stat-value {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0;
}

.stats-card img {
  height: 32px;
  width: 32px;
  margin-right: 16px;
}

@media (min-width: 770px) {
  .stats-overview {
    flex-direction: row;
    width: auto;
  }
}
