.top-players {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.top-players h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.top-players.compact h2 {
  display: none;
}

.players-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex-direction: column;
}

.players-card {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.player-details {
  margin-left: 15px;
  text-align: left;
}

.player-index {
  color: #602ee1;
  margin-bottom: 5px;
}
.player-info {
  display: flex;
  align-items: center;
}
.arrow-icon {
  display: flex;
  width: 20px;
  height: 20px;
  align-self: center;
}
