.top-players {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.top-players h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.top-players.compact h2 {
  display: none;
}

.players-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex-direction: column;
}

.players-card {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.player-details-card {
  margin-left: 15px;
  text-align: left;
  font-size: 16px;
  font-weight: 100;
}

.player-details-card-name {
  display: flex;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  gap: 4px;
  align-items: center;
}

.player-details-card-name h4 {
  font-weight: 100;
}

.player-details-card p {
  opacity: 0.6;
}

.player-index {
  color: #602ee1;
}

.player-info {
  display: flex;
  align-items: center;
}

.player-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.arrow-icon {
  display: flex;
  width: 20px;
  height: 20px;
  align-self: center;
}
