.players-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex-direction: column;
}

.players-card {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  height: 100px;
}

.player-details-home {
  text-align: left;
  margin-left: 10px;
}

.player-details-home {
  padding: 24px;
}


.player-details-home {
display: flex;
}

.player-index {
  color: #602ee1;
  margin-bottom: 5px;
}
.player-info {
  display: flex;
  align-items: center;
}
.arrow-icon {
  display: flex;
  width: 20px;
  height: 20px;
  align-self: center;
}
