.upcoming-matches-section {
  margin-top: 24px;
  padding: 16px;
  border-radius: 12px;
  border: #eeeeee 1px solid;
}

.match-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 100px;
}

.match-actions {
  display: flex;
  gap: 8px;
  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.match-info {
  display: flex;
  flex-direction: column;
  color: var(--Opacity-Neutral-Darkest-60, #00000099);
}
