.upcoming-matches-list,
.latest-matches-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.match-card {
  /* keeps backwards compatibility if feed-card is not present */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.match-actions {
  display: flex;
  gap: 8px;
  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.match-info {
  display: flex;
  flex-direction: column;
  color: var(--Opacity-Neutral-Darkest-60, #00000099);
}
