.upcoming-matches-section {
  margin-top: 24px;
  padding: 16px;
  border-radius: 12px;
  border: #eeeeee 1px solid;
}

.home-match-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 100px;
}

.home-match-actions {
  display: flex;
  gap: 8px;
}

.home-match-actions img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.home-match-info {
  display: flex;
  flex-direction: column;
  color: var(--Opacity-Neutral-Darkest-60, #00000099);
}
