h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: Text Sizes/Heading 5;
  line-height: 140%;
  letter-spacing: 0%;
}

h3 {
  font-weight: 400;
  font-style: Regular;
  font-size: Text Sizes/Text Medium;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

p {
  font-weight: 400;
  font-style: Regular;
  font-size: Text Sizes/Text Small;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}