h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0;
}

h3 {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 0;
}

p {
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 1.5;
  letter-spacing: 0;
}

main {
  padding: 0 16px 16px;
}

@media (min-width: 769px) {
  main {
    margin-left: 300px;
    padding: 24px;
    padding-top: 24px;
  }
}
