h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0;
}

h3 {
  font-weight: 400;
  font-style: Regular;
  font-size: Text Sizes/Text Medium;
  line-height: 150%;
  letter-spacing: 0%;
}

p {
  font-weight: 400;
  font-style: Regular;
  font-size: Text Sizes/Text Small;
  line-height: 150%;
  letter-spacing: 0%;
}

@media (min-width: 769px) {
  main {
    margin-left: 300px;
    padding: 0 24px;
  }
}
